# Python Caches
__pycache__/
*.pyc

# Datasets
data/

# Heavy Model Weights (Old & New)
models/best_distilbert/tf_model.h5
models/best_distilbert/*.h5
**/*.keras
models/best_distilbert/best_distilbert_model/

# Backups & Heavy Archives
Archive.zip